$primary: #4452FE;
$secondary: #02E4C0;
$secondary2: #112D57;
$firsttext: #000000;
$lighttext: #FFFFFF;
$secondtext: #5C5C5C;
$darkbackground: #181818;
$lightbackground: #FFFFFF;
$testimonial-border-color: #565656;
$ad-backgroundcolor-mobile: #1E1E1E;
$ad-backgroundcolor-desktop:#343434;